*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    font-family: 'Creepster', cursive;
}



section{
    background: #000;
    height: 100vh;
    margin-top: -100px;
    margin-left: 70px;
}
section:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   /* background: linear-gradient(to right, #f00, #f00,#0f0,#0ff,#ff0,#0ff);*/
   background: linear-gradient(to right, #f00, #f00,#0f0,#ff0,#f00,#f00);
    mix-blend-mode: color;
    pointer-events: none;
  } 
  h1 span{
    display: inline-block;
    animation: animate 1s linear forwards;
}
@keyframes animate{
    0%{
        opacity: 0;
        transform: rotateY(90deg);
        filter: blur(10px);
    }
    100%{
        opacity: 1;
        transform: rotateY(0deg);
        filter:blur(0)
    }
}
h1 span:nth-child(1){
    animation-delay: 1s ;
}
h1 span:nth-child(2){
    animation-delay: 2s ;
}
h1 span:nth-child(3){
    animation-delay: 2.5s ;
}
h1 span:nth-child(4){
    animation-delay: 3s ;
}
h1 span:nth-child(5){
    animation-delay: 3.5s ;
}
h1 span:nth-child(6){
    animation-delay: 3.75s ;
}
h1 span:nth-child(7){
    animation-delay: 4s ;
}

h1{
    transform: translateY(-50%);
    font-size: 45px;
    color: red;
    margin-top: -200px;
}
@media (max-width: 767px){
    h1{
        font-size: 40px;
        
    }
}